/.vs/CapybaraVS/v16/.suo
/CapybaraVS/bin
/CapybaraVS/obj
/.vs/CapybaraVS/DesignTimeBuild/.dtbcache.v2
/CapybaraVS/CapybaraVS.csproj.user
/CapybaraVS/Sample/test.cbs
/.vs
/CapybaraVS/Properties/PublishProfiles/FolderProfile.pubxml.user
